body {
  width: 100%;
  background-color: red;
}

#titleh1 {
  font-size: 115px;
}

.header {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  min-width: 100%;

  border-radius: 50px;
  color: rgb(232, 83, 44);
  background-color: rgba(53, 58, 63, 0.7);
}
.headerReg {
  display: contents;

  text-align: center;

  border-radius: 50px;
  color: rgb(232, 83, 44);
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#what-can-you-do-label {
  border-bottom: solid 2px white;
}

.cards {
  margin: 30px;
}
