.main {
  padding: 50px;
}

.sandboxide {
  padding: 10px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* width: 22%; */
}

.moreinfo {
  padding: 5px;
}

.sandOptions {
  margin: 10px;
}

.sandselec {
  padding: 5px;
  margin-bottom: 30px;
  margin-top: 15px;
}

.existingsandboxes:hover {
  color: green;
  cursor: pointer;
}

.chooseLang {
  margin-bottom: 50px;
}

#titleAndSaveInfo {
  margin-left: auto;
  margin-right: auto;
}

#saveIndicator {
  position: absolute;
  top: 60%;
  left: 95%;
  margin: -25px 0 0 -20px;
}

.selectedText {
  color: red;
  margin-left: 10px;
}

#check {
  margin-left: 10px;
}

.langbutton {
  width: 100px;
  margin: 5px;
}
