.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.idemain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App-link {
  color: #61dafb;
}

#code {
  border: 2px solid black;
  background: url(http://i.imgur.com/2cOaJ.png);
  background-attachment: local;
  background-repeat: no-repeat;
  padding-left: 35px;
  padding-top: 10px;
  font-size: 13px;
  line-height: 16px;
  min-height: 40vh;

  /* height: 500px; */
}

.code-textarea-wrapper {
  background-color: white;
  display: inline-block;
  background-image: linear-gradient(#f1f1f1 50%, #f9f9f9 50%);
  background-size: 100% 32px;
  background-position: left 10px;
}

textarea:focus {
  outline: none;
}

#result {
  resize: none;
  background: #878787;
  border: 2px solid black;
  color: rgb(0, 0, 0);
  /* border: 2px solid black; */
}

#input {
  background: #878787;
  color: rgb(0, 0, 0);
  border: 2px solid black;
  resize: none;
  overflow-y: hidden;
}

.ide-full {
  position: fixed;
  top: 170px;
  right: 40px;
}

#code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  min-height: 40vh;
  min-width: 50vw;
  resize: none;
}
#result {
  min-width: 50vw;
  min-height: 5vh;
  resize: none;
}

#input {
  min-height: 5vh;
  min-width: 50vw;
  resize: none;
  overflow-y: hidden;
}

.input {
  margin: 5px;
}

.output {
  margin: 5px;
}
