body {
  margin: 0;
  padding: 0;
}

#mainLogo {
  width: 120px;
}
#navBar {
  color: orange;
  font: x-large;
}

.navuserinfo {
  display: flex;
  flex-direction: row;
  border-left: darkgray solid;
}

#myCourses {
  color: orange;
}
#profilePic {
  width: 60px;
}

.logregbutton {
  left: 10%;
}

.logregbutton {
  left: 10%;
}
.navBarItems {
  text-decoration: none;
  color: lightgray;
  position: relative;
  align-self: center;
  padding: 5px;
}
.navBarItems:hover {
  text-decoration: none;
  color: orange;
}

#userfirstname {
  color: lightgray;
}

#userhello {
  color: lightgray;
}

#userlevel {
  color: lightgray;
}

.next-comp {
  margin: 30px;
}

.levelInfo {
  margin: 10px;
  text-align: center;
  width: 40%;
}
